* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    font-size: 16px;
}

body {
    width: 100vw;
    min-height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
    background-color: black;
    margin: 0;
    position: relative;
}

@media (min-width: 1850px) {
    body {
        width: 1850px;
    }
}

@media (max-width: 1159px) {
    html {
        font-size: 10px;
    }
}

@media (max-width: 1108px) {
    html {
        font-size: 8px;
    }
}

::-webkit-scrollbar {
    width: 0;
}

@font-face {
    font-family: "Upheaval";
    src: url("/fonts/Upheaval/upheavtt.ttf");
}